{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    
  <h1>Index</h1>
  <p class="important">
    Welcome to my Bibly website <br>
    Choose in the NavBar what you want to do <br>
    With us we can :<br>
    - Add a new customer<br>
    -  Add a new book<br>
    - Loan a book <br>
    - Return a book<br>
    - Display all books <br>
    - Display all customers<br>
    - Display all loans<br>
    - Display late loans<br>
    - Find book by name<br>
    - Find customer by name<br>
    - Remove book <br>
    - Remove customer<br>


    <h1 style="color: rgb(16, 236, 31);">Good navigation</h1>




{% endblock %}