{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<style>
    html,
    body {
        min-height: 100%;
    }

    body,
    div,
    form,
    input,
    select,
    textarea,
    label {
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
        line-height: 22px;
    }

    h1 {
        position: absolute;
        margin: 0;
        font-size: 40px;
        color: #fff;
        z-index: 2;
        line-height: 83px;
    }

    .testbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
    }

    form {
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 8px #524c43;
    }

    .banner {
        position: relative;
        height: 300px;
        background-color: #336699;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    input,
    select,
    textarea {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input {
        width: calc(100% - 10px);
        padding: 5px;
    }

    input[type="date"] {
        padding: 4px 5px;
    }

    textarea {
        width: calc(100% - 12px);
        padding: 5px;
    }

    .item:hover p,
    .item:hover i,
    .question:hover p,
    .question label:hover,
    input:hover::placeholder {
        color: #cc7a00;
    }

    .item input:hover,
    .item select:hover,
    .item textarea:hover {
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0 #cc7a00;
        color: #cc7a00;
    }

    .item {
        position: relative;
        margin: 10px 0;
    }

    .item span {
        color: red;
    }

    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }





    input[type=radio],
    input[type=checkbox] {
        display: none;
    }

    label.radio {
        position: relative;
        display: inline-block;
        margin: 5px 20px 15px 0;
        cursor: pointer;
    }

    .question span {
        margin-left: 30px;
    }

    .question-answer label {
        display: block;
    }

    label.radio:before {
        content: "";
        position: absolute;
        left: 0;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid #ccc;
    }

    input[type=radio]:checked+label:before,
    label.radio:hover:before {
        border: 2px solid #cc7a00;
    }

    label.radio:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 5px;
        width: 8px;
        height: 4px;
        border: 3px solid #cc7a00;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
    }

    input[type=radio]:checked+label:after {
        opacity: 1;
    }

    .btn-block {
        margin-top: 10px;
        text-align: center;
    }

    button {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc7a00;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background: #ff9800;
    }

    @media (min-width: 568px) {

        .name-item,
        .city-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .name-item input,
        .name-item div {
            width: calc(50% - 20px);
        }

        .name-item div input {
            width: 97%;
        }

        .name-item div label {
            display: block;
            padding-bottom: 5px;
        }
    }
</style>




<div class="testbox">
    <form>
        <div class="banner">
            <h1>Your Book</h1>
        </div>
        <div class="item">
            <label for="book_id">Book ID</label>
            <input id="book_id" type="number" name="book_id" readonly value="{{ book.book_id}}" />
        </div>

        <div class="item">
            <label for="book_name">Customer Name</label>
            <input id="book_name" type="text" name="book_name" readonly value="{{ book.book_name}}" />
        </div>
        <div class="item">
            <label for="author">Author</label>
            <input id="author" type="text" name="author" readonly value="{{ book.author}}" />
        </div>
        <div class="item">
            <label for="year">Year</label>
            <input id="year" type="number" name="year" readonly value="{{book.year}}" />
        </div>
        <div class="item">
            <label for="type">Type</label>
            <input id="type" type="number" name="type" readonly value="{{ book.type}}" />
        </div>


        
        <a class="btn btn-success"
            href="http://127.0.0.1:5000/books/upload_book/{{book.book_id}}">Modify</a>
        <a class="btn btn-success" onclick="myFunction()"
            href="http://127.0.0.1:5000/books/del_book/{{book.book_id}}">Del</a>



    </form>
</div>
    {% endblock %}